@import "../../styles/colors.scss";

.btn.btn-primary {
  background-color: $green;
  border-color: $green;

  &:hover {
    background-color: $green;
  }

  &:active {
    background-color: $light-green;
    border-color: $light-green;
    outline-color: $light-green;
  }
}
