<section class="container">
  <h2>צור קשר</h2>
  <div class="row">
    <div class="col-8">
      <form>
        <div class="form-group">
          <label for="firstName">שם פרטי</label>
          <input type="text" class="form-control" id="firstName">
        </div>
        <div class="form-group">
          <label for="lastName">שם משפחה</label>
          <input type="text" class="form-control" id="lastName">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">כתובת אימייל</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
          <label for="phone">טלפון נייד</label>
          <input type="phone" class="form-control" id="phone">
        </div>
        <div class="form-group">
          <label for="message">הודעה</label>
          <textarea type="text" class="form-control" id="message"></textarea>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">האם אתה מבוטח שלנו?</label>
        </div>
        <button type="submit" class="btn btn-primary">שלח</button>
      </form>
    </div>
    <div class="col-4" id="secondary">
      <aside id="text-2" class="widget widget_text"><h3 class="widget-title"><span>מידע</span></h3>
        <div class="textwidget">
          <ul>
            <li><i class="fas fa-phone"></i> טלפון: 09-7441873</li>
            <li><i class="fas fa-fax"></i> פקס: 09-7416763</li>
            <li><i class="fas fa-at"></i> מייל: <a href="mailto:name@email.com">office@ocean-ins.co.il</a></li>
            <li><i class="fab fa-facebook-square"></i><a href="https://www.facebook.com/oceaninsu/" target="_blank"> בקרו אותנו בפייסבוק</a></li>
          </ul>
        </div>
      </aside>
      <aside id="text-3" class="widget widget_text"><h3 class="widget-title"><span>שעות פעילות</span></h3>
        <div class="textwidget">
          <ul>
            <li>א, ב, ג, ה 09:00 - 17:00</li>
            <li>ד 09:00 - 13:00</li>
            <li>מעבר לשעות הפעילות ניתן לקבל מענה ע"י שליחת SMS או WhatsApp למספר 054-4654900</li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>
