<section class="container">
  <h2>צור קשר</h2>
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-2">
      <form class="column-form" *ngIf="!showSentMessage" [formGroup]="contactUsForm">
        <mat-form-field>
          <input matInput placeholder="{{formFieldsData.firstName.display}}" type="text" formControlName="firstName" name="firstName">
          <mat-error *ngIf="contactUsForm.get(formFieldsData.firstName.key).invalid">{{getErrorMessage(formFieldsData.firstName)}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{formFieldsData.lastName.display}}" type="text" formControlName="lastName" name="lastName">
          <mat-error *ngIf="contactUsForm.get(formFieldsData.lastName.key).invalid">{{getErrorMessage(formFieldsData.lastName)}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{formFieldsData.email.display}}" type="email" formControlName="email" name="email">
          <mat-error *ngIf="contactUsForm.get(formFieldsData.email.key).invalid">{{getErrorMessage(formFieldsData.email)}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{formFieldsData.phone.display}}" type="tel" formControlName="phone" name="phone">
          <mat-error *ngIf="contactUsForm.get(formFieldsData.phone.key).invalid">{{getErrorMessage(formFieldsData.phone)}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea class="message-box" matInput placeholder="{{formFieldsData.message.display}}" formControlName="message"></textarea>
          <mat-error *ngIf="contactUsForm.get(formFieldsData.message.key).invalid">{{getErrorMessage(formFieldsData.message)}}</mat-error>
        </mat-form-field>
        <mat-checkbox class="form-check" formControlName="isCustomer">האם אתה מבוטח שלנו?</mat-checkbox>
        <oi-button (buttonClick)="onSendClick()" [isLoading]="isLoading"></oi-button>
      </form>
      <div  class="alert alert-success" *ngIf="showSentMessage">הודעתך נשלחה, ניצור איתך קשר בקרוב</div>
    </div>
    <div class="col-sm-12 col-md-4" id="secondary">
      <aside id="text-2" class="widget widget_text"><h3 class="widget-title"><span>מידע</span></h3>
        <div class="textwidget">
          <ul>
            <li><i class="fas fa-phone"></i> טלפון: 09-7441873</li>
            <li><i class="fas fa-fax"></i> פקס: 09-7416763</li>
            <li><i class="fas fa-at"></i> מייל: <a href="mailto:info@ocean-ins.co.il">info@ocean-ins.co.il</a></li>
            <li><i class="fab fa-facebook-square"></i><a href="https://www.facebook.com/oceaninsu/" target="_blank"> בקרו אותנו בפייסבוק</a></li>
          </ul>
        </div>
      </aside>
      <aside id="text-3" class="widget widget_text"><h3 class="widget-title"><span>שעות פעילות</span></h3>
        <div class="textwidget">
          <ul>
            <li>א, ב, ג, ה 09:00 - 17:00</li>
            <li>ד 09:00 - 13:00</li>
            <li>מעבר לשעות הפעילות ניתן לקבל מענה ע"י שליחת SMS או WhatsApp למספר 054-4654900</li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>
