<h2 class="page-title">ביטוח נסיעות</h2>
<section class="container">
  <ul class="circle">
    <li>
      <div>
        ביטוח נסיעות
      </div>
      נסיעה לחול כרוכה בהוצאה כספית גדולה. מה יכול להשתבש? הזדקקות לטיפול רפואי, אובדן מטען, אירוע המחייב ביטול או קיצור
      נסיעה, פינוי מוטס לארץ. כל אלו ועוד מכוסים בפוליסת נסיעה לחו"ל.חשוב לדאוג לביטוח נסיעות המותאם למטרת הטיול, הגיל
      ומצב בריאותו של הנוסע כדי להבטיח שבמידת הצורך יהיה פתרון.
    <li>
      <div>
        ביטוח ביטול נסיעה
      </div>
      פוליסה זו מיועדת לרכושי כרטיסי טיסה ושרותי תיירות שחלים עליהם דמי ביטול מלאים או חלקיים.המבוטח רשאי לבטל את
      הנסיעה מכל סיבה שהיא וחברת הביטוח תפצה אותו בגין דמי הביטול בניכוי השתתפות עצמית של 20%. חשוב לציין שיש לרכוש את
      הביטוח בתוך 7 ימים ממועד הכרטוס ולא יאוחר מ14 יום.
    </li>
  </ul>
</section>
