<h2 class="page-title">אודות</h2>
<section class="container">
  <div class="info">
    <div>
      <p>אושן סוכנות לביטוח נוסדה בשנת 1976. הסוכנות הוקמה ע"י כהן שאול, סוכן ביטוח בתחום האלמנטר והחיים מזה 40 שנה,
        לאחר
        כמספר שנים הצטרפה לסוכנות רעייתו של שאול, כהן אתי, סוכנת ביטוח בתחום האלמנטר, חיים והביטוח הימי מזה 35 שנה.
        לאורך
        השנים הסוכנות נקראה כהן שאול ואתי סוכנות לביטוח.
      </p>
      <p>
        בשנים האחרונות הצטרף דור המשך לעסק המשפחתי, ענת זהר, ביתם של שאול ואתי. ענת הינה סוכנת ביטוח בעלת רשיון בתחום
        האלמנטר
        והחיים. כחלק מהצטרפותו של הדור הצעיר הסוכנות עברה תהליך של התחדשות הן מבחינת מיתוג, כך נולד השם אושן והן מבחינת
        אמצעים
        טכנולוגיים להתקשרות והעברת מידע בינינו לבין לקוחותינו.
      </p>
      <p>
        הסוכנות נותנת מענה היקפי של 360 מעלות בכל ענפי הביטוח תוך שמירה על ערכי הדגל שמנחים אותנו כבר 40 שנה: מקצועיות,
        שירותיות, זמינות ושקיפות. וכמו שהעסק עובר מדור לדור אצלנו גם הלקוחות חוצים דורות ואנחנו מבטחים כבר דור שלישי
        ורביעי
        של
        משפחות...לא סתם אומרים, "הכל נשאר במשפחה"
      </p>
    </div>
    <div class="amanat">
      <h2>אמנת שירות ללקוחות</h2>
      <ul>
        <li> אמנת השירות באה לתאם ציפיות בינינו לבינכם, קהל לקוחותינו, בכל הקשור לקבלת שירות מתמשך.</li>
        <li> אמנת שירות זו נבנתה מתוך תפישה הממקמת את הלקוח במרכז העשייה ותוך אמונה כי שירות הניתן תוך אחריות, זמינות,
          כבוד הדדי, מקצוענות ונגישות הוא אשר יוצר נאמנות וקשר ארוך טווח.
        </li>
        <li>אמנת שירות זו הינה בהתאם להוראות הממונה על רשות שוק ההון הביטוח והחיסכון (להלן: "הממונה"), מיום, 01.05.2018,
          כפי שפורסמו בחוזר סוכנים ויועצים 2018-10-3, "שירות ללקוחות סוכנים ויועצים".
        </li>
        <li>באמנה זו אנו מצהירים ומתחייבים בפני לקוחות הסוכנות כדלקמן:
          <ul>
            <li>מתחייבים לנהוג כלפי לקוחותינו בהגינות ובכבוד תוך שמירה וכיבוד פרטיותם.</li>
            <li>מתחייבים לעדכן את לקוחותינו לגבי אופן קבלת השירות, דרכי התקשרות, ימי עבודה ושעות פעילות.</li>
            <li>מתחייבים לתת מענה מתאים לצרכי הלקוחות, בתוך 7 ימי עסקים ממועד קבלת פניית הלקוח המבקש לתאם פגישה או לשוחח
              אתנו.
            </li>
            <li>מתחייבים לקיים תקשורת יעילה וזמינה עם לקוחותינו, לספק מענה ראשוני לכל פניה תוך מסירת תשובות ברורות
              ומנומקות ככל הניתן וכל זאת תוך שני ימי עסקים מקבלת פניית הלקוח.
            </li>
            <li>מתחייבים לתת מענה ענייני ותוך זמן סביר לבקשת הלקוח לקבל ולהעביר אישור או מסמך, וכן להעביר בקשה לגוף
              המוסדי לביצוע פעולה הקשורה למוצר, והכל מבלי לגרוע מהוראות אחרות לעניין זה
            </li>
            <li>מתחייבים למסור כל מסמך הקשור ללקוח, ונמצא ברשותו על פי דין, לרבות לקוח לשעבר, וכל זאת תוך שבעה ימי עסקים
              מקבלת פניית הלקוח
            </li>
            <li>מתחייבים למסור ללקוח שפנה בעניין תביעה, מידע אודות זכויות הלקוח, ולהביא לידיעתו את דרכי הפעולה העומדות
              בפניו בהליך יישוב התביעה.
            </li>
          </ul>
        </li>
      </ul>
      <div class="sign">
        <p>על החתום</p>
        <p>כהן שאול, כהן אסתר, זהר ענת וצוות המשרד</p>
      </div>
    </div>
  </div>
  <img src="assets/images/ocean-about.jpg" alt="about-image">
</section>
