@import "../../styles/mixins";

.container {
  @include desktop {
    .info {
      display: inline-block;
      width: 67%;
    }
    .sign {
      margin-top: 20px;
    }
    img {
      width: 33%;
    }
  }
}
