<h2 class="page-title">אודות</h2>
<section class="container">
  <p>אושן סוכנות לביטוח נוסדה בשנת 1976. הסוכנות הוקמה ע"י כהן שאול, סוכן ביטוח בתחום האלמנטר והחיים מזה 40 שנה, לאחר
    כמספר שנים הצטרפה לסוכנות רעייתו של שאול, כהן אתי, סוכנת ביטוח בתחום האלמנטר, חיים והביטוח הימי מזה 35 שנה. לאורך
    השנים הסוכנות נקראה כהן שאול ואתי סוכנות לביטוח.
  </p>
  <p>
    בשנים האחרונות הצטרף דור המשך לעסק המשפחתי, ענת זהר, ביתם של שאול ואתי. ענת הינה סוכנת ביטוח בעלת רשיון בתחום
    האלמנטר
    והחיים. כחלק מהצטרפותו של הדור הצעיר הסוכנות עברה תהליך של התחדשות הן מבחינת מיתוג, כך נולד השם אושן והן מבחינת
    אמצעים
    טכנולוגיים להתקשרות והעברת מידע בינינו לבין לקוחותינו.
  </p>
  <p>
    הסוכנות נותנת מענה היקפי של 360 מעלות בכל ענפי הביטוח תוך שמירה על ערכי הדגל שמנחים אותנו כבר 40 שנה: מקצועיות,
    שירותיות, זמינות ושקיפות. וכמו שהעסק עובר מדור לדור אצלנו גם הלקוחות חוצים דורות ואנחנו מבטחים כבר דור שלישי ורביעי
    של
    משפחות...לא סתם אומרים, "הכל נשאר במשפחה"
  </p>
</section>
