@import "../../../styles/colors";
@import "../../styles/mixins.scss";

.big-logo {
  width: 450px;
}

#site-navigation {
  .menu-toggle {
    background-color: $green;

    &:active {
      opacity: 0.7;
    }
  }
}

#header-right-section {
  margin-top: 20px;
}

.menu-primary-container {
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 9999;
  @include desktop {
    position: initial;
  }

  #menu-primary {
    .menu-item {
      cursor: pointer;

      a {
        color: white;
        @include desktop {
          color: $dark-grey;
          outline: 0;

          &:hover {
            color: $light-green;
          }

          &.active {
            color: $light-green;
          }
        }

        &.active {
          color: $light-green;
        }

        @include desktop {
          &.current-menu-item {
            a {
              color: $green;
            }
          }
        }
      }
    }
  }

  .sub-menu {
    right: 0;
  }
}
