@import "../../styles/colors";

.big-logo {
  width: 450px;
}

#menu-primary {
  li {
    cursor: pointer;
    a {
      color: $dark-grey;
      &:hover {
        color: $light-green;
      }
    }
    &.current-menu-item {
      a {
        color: $green;
      }
    }
  }
  .sub-menu {
    right: 0;
  }
}

