@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Assistant-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/Assistant-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Heebo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/Heebo-Bold.ttf") format("truetype");
}
