<h2 class="page-title">ביטוח בריאות</h2>
<section class="container">
  <p>
    מערכת הבריאות הציבורית בישראל היא מן הטובות בעולם המערבי אבל התורים ארוכים והעומס על הרופאים גדול. סל הבריאות
    הממלכתי
    מעניק של טיפולים ותרופות שנקבעו ע"י המחוקק. בנוסף קיימים הביטוחים המשלימים של קופות החולים – שירותי בריאות נוספים
    בתשלום. עדיין כל אלו אינם מספקים מענה למצבים המצריכים תרופות שלא בסל וטיפולים מאריכי חיים.
    פוליסת בריאות פרטית כוללת ניתוחים בארץ ובחול ע"י מנתח לפי בחירתכם, תרופות שלא בסלף השתלות וטיפולים מיוחדים בחו"ל,
    חו"ד
    שניה, בדיקות אבחנתיות ועוד.
    **המידע הינו כללי וכפוף לתנאי הפוליסה**
  </p>
  <h3>תוספות</h3>
  <p>
    אבחון מהיר
    זמן ההמתנה לתורים ברפואה הציבורים יכול להמשך ימים ואף חודשים. כתב שירות אבחון מהיר מאפשר לזרז את זמן הבדיקות לאבחון
    של בעיה רפואית.
    מחלות קשות
    גילוי מחלה קשה מטלטל את חיי החולה ובני משפחתו. בנוסף לקושי הפיזי והנפשי מדובר בהוצאה כספית ובאובדן הכנסה של החולה
    ו/או בני משפחתו שסועדים אותו. ביטוח מחלות קשות מעניק למבוטח פיצוי כספי חד פעמי בהתאם לסכום הביטוח שרכש עם הכניסה
    לביטוח. הכיסוי הינו לרשימת מחלות בהתאם למסלול אותו רכש המבוטח.
    **המידע הינו כללי ובכפוף לתנאי הפוליסה"
  </p>
  <h3>סיעוד</h3>
  <p>
    כאשר אדם אינו מסוגל לדאוג לעצמו וזקוק לעזרה בפעולות בסיסיות כמו רחצה או אכילה הוא מוגדר כסיעודי. התופעה נפוצה
    באוכלוסיית הקשישים אבל יכולה גם להיגרם ע"י פציעה או מחלה בכל גיל.הוצאות הטיפול והאשפוז של אדם במצב סיעודי גבוהות
    מאוד. רכישת ביטוח סיעודי מאפשרת מימון של הוצאות הטיפול גם בבית המבוטח וגם במוסד סיעודי.
  </p>
</section>
