<h2 class="page-title">ביטוח לבנייה</h2>
<section class="container">
  <ul class="circle list-group">
    <li>
      עבודות קבלניותך
      יזם, קבלן או בונה פרטי חשופים בזמן הבניה לסיכונים למבנה, לעובדים ולצד שלישי. פוליסת קבלנים מכסה נזק למבנים, לציוד,
      לעבודות, לעובדים ולצד שלישי. חשוב להתאים את הפוליסה באופן מדויק לצרכי המבוטח.
    </li>
    <li>
      מהנדסים
    </li>
    <li>
      צ.מ.ה
      ציוד מכני הנדסי הינו ציוד יקר שחשוף לסיכונים רבים. הביטוח מכסה את כל הסיכונים לנזק תאונתי חיצוני גם בשעות שהציוד
      עומד ללא שימוש. חשוב להתאים את הביטוח לצרכי המבוטח.
      **המידע הינו כללי וכפוף לתנאי הפוליסה**
    </li>

  </ul>
</section>
