<h2 class="page-title">ביטוח משכנתא</h2>
<section class="container">
  <p>
    משכנתא היא הלוואה ארוכת טווח לצורך רכישת דירה. הבנק דורש ביטוח משכנתא כדי להבטיח שהלווה יעמוד בתשלומים. לביטוח
    משכנתא שני רכיבים:
  </p>
  <ul class="circle list-group">
    <li class="list-group-item">
      ביטוח חיים – במקרה של פטירת הלווה מכסה הביטוח את המשך החזר ההלוואה
    </li>
    <li>
      ביטוח מבנה – במידה והנכס ניזוק הביטוח מכסה את עלויות השיקום ומבטיח המשך החזר הלוואה. הנכס המשוקם נשאר בידי הלווה.
    </li>
  </ul>
  <p class="mt-3">**המידע הינו כללי וכפוף לתנאי הפוליסה**</p>
</section>
