<h2 class="page-title">ביטוח עסק</h2>
<section class="container">
  <ul class="circle">
    <li>
      <div>
        ביטוח בית העסק
      </div>
      פוליסה לבית עסק מעניקה כיסוי כנגד סיכונים כמו אש, פריצה, שוד, אחריות לצד שלישי, חבות מעבידים, חבות המוצר, אובדן
      רווחים ועוד. יש חשיבות בהתאמת הפוליסה לצרכים הספציפיים של בית העסק המבוטח.
    </li>
    <li>
      <div>
        ביטוח אחריות מקצועית
      </div>
      פוליסה המגינה על בעלי מקצועות חופשיים מ פני תביעות הנובעות מרשלנות, מחדל או טעות שנגרמו בתום לב. הכיסוי הינו עבור
      נזק שנגרם לצד שלישי עקב רשלנות המבוטח או עובד מטעמו וכן עבור ההוצאות המשפטיות. עם בעלי מקצועות חופשיים נמנים
      עו"ד,
      רו"ח, טכנאים, חשמלאים, רופאים ועוד.
    </li>
    <li>
      ביטוח צד ג'
    </li>
    <li>
      ביטוח אחריות המוצר***
    </li>
  </ul>
</section>

