<section class="container">
  <ul class="list-group">
    <li class="list-group-item">ביטוח הדירה מכסה נזקים שונים למבנה ו/או תכולה כמו: שריפה, פריצה, גניבה, רעידת אדמה, נזקי
      טבע, נזקים לחפצי ערך ולתכשיטים וכו'. סעיף המבנה – מתייחס לנזקים לבית או לדירה, כולל מרפסות, שערים וגדרות בדירה
      בבית משותף מומלץ לכול סעיף ערך קרקע הכולל בנוסף לעלויות הבניה גם את שווי הקרקע עליה הוא בנוי. סעיף התכולה – מתייחס
      לחפצים שבתוך הבית. כדי לוודא שסכומי הביטוח נכונים ומדויקים נהוג לשלוח סוקר להערכת שווי התכולה והמבנה. הערכת הסוקר
      הינה ללא עלות.
    </li>
    <li class="list-group-item">להצעת מחיר לחץ</li>
    <li class="list-group-item">במקרה של נזק אנא צור קשר עם משרדינו</li>
  </ul>
</section>
