<h2 class="page-title">ביטוח רכב</h2>
<section class="container">
  <ul class="list-group">
    <li class="list-group-item">במשרדינו ניתן לרכוש ביטוח חובה, צד ג', מקיף</li>
    <li class="list-group-item">ביטוח חובה –כשמו כן הוא, ביטוח שהחוק מחייב לרכוש ומכסה נזקי גוף בעקבות תאונה</li>
    <li class="list-group-item">ביטוח צד ג' – מכסה נזקים שגורם רכב המבוטח לרכב או רכוש של צד שלישי.</li>
    <li class="list-group-item">ביטוח מקיף – ביטוח עבור נזקים שנגרמים לרכב המבוטח הכולל בתוכו גם ביטוח צד ג'</li>
    <li class="list-group-item">לקבלת הצעת מחיר לחץ כאן</li>
    <li class="list-group-item">במקרה של תאונה לחץ כאן</li>
    <li class="list-group-item">תאונה – בזמן תאונה יש להחליף פרטים עם רכב צד ג': שם, כתובת, טל נייד, מס' רכב, חברת הביטוח בו הוא מבוטח ופרטי
      סוכן
      ביטוח. בהמשך יש ליצור קשר עם משרדינו. לדיווח על תאונה לחץ או התקשר למשרדינו טופס דיווח תאונה – שם, טלפון, מס'
      רכב
      מבוטח, תאריך תאונה, תאור התאונה, פרטי צד ג', הערות
    </li>
  </ul>
</section>
