/* You can add global styles to this file, and also import other style files */
@import './styles/vendors';
@import "./app/styles/rtl.css";
@import "./app/styles/style.css";
@import "styles/variables";
@import "styles/colors";
@import "styles/fonts";

.hebrew {
  direction: rtl;
}

body {
  background-color: white;
  text-align: initial;
  padding-bottom: 0;
}

html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-title;
}

a {
  font-family: $font-family-base;
  color: $green;

  &:hover {
    color: $light-green;
  }
}

#page {
  max-width: none;
  width: 100%;
  box-shadow: none;
}

input.form-control {
  background: white;
}

.alert-danger {
  padding: 0 5px;
  font-size: 13px;
}

.hide-me {
  display: none;
}

input[type="text"] {
  &:focus {
    border: none;
  }
}

.column-form {
  display: flex;
  flex-direction: column;
}

.page-title {
  color: $dark-grey2;
  background-color: $light-green;
  padding: 18px 10% 18px 18px;
  margin-bottom: 30px;
}

section.container {
  min-height: 400px;
}
