<form class="column-form" [formGroup]="insuranceInfoForm">
  <mat-form-field>
    <mat-select placeholder="{{priceOffersData.type.display}}" formControlName="type">
      <mat-option value="חובה ומקיף">חובה ומקיף</mat-option>
      <mat-option value="חובה וג">חובה וצד ג'</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{priceOffersData.youngestDriver.display}}" type="number" formControlName="youngestDriver">
    <mat-error *ngIf="insuranceInfoForm.get(priceOffersData.youngestDriver.key).invalid">{{ getErrorMessage(priceOffersData.youngestDriver) }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{priceOffersData.youngestDriverExperience.display}}" type="number" formControlName="youngestDriverExperience">
    <mat-error *ngIf="insuranceInfoForm.get(priceOffersData.youngestDriverExperience.key).invalid">{{ getErrorMessage(priceOffersData.youngestDriverExperience) }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{priceOffersData.numberOfDrivers.display}}" type="number" formControlName="numberOfDrivers">
    <mat-error *ngIf="insuranceInfoForm.get(priceOffersData.numberOfDrivers.key).invalid">{{ getErrorMessage(priceOffersData.numberOfDrivers) }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{priceOffersData.hasPastClaims.display}}" type="text" formControlName="hasPastClaims">
    <mat-error *ngIf="insuranceInfoForm.get(priceOffersData.hasPastClaims.key).invalid">{{ getErrorMessage(priceOffersData.hasPastClaims) }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{priceOffersData.claims.display}}" type="text" formControlName="claims">
    <mat-error *ngIf="insuranceInfoForm.get(priceOffersData.claims.key).invalid">{{ getErrorMessage(priceOffersData.claims) }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="{{priceOffersData.comment.display}}" formControlName="comment"></textarea>
    <mat-error *ngIf="insuranceInfoForm.get(priceOffersData.comment.key).invalid">{{ getErrorMessage(priceOffersData.comment) }}</mat-error>
  </mat-form-field>
</form>
<!--<button mat-button matStepperPrevious>חזור</button>-->
<!--<button mat-button (click)="saveForm()">שלח</button>-->
<oi-button (buttonClick)="saveForm()" [isLoading]="isLoading"></oi-button>
