<footer id="colophon" class="clearfix">
  <div class="footer-widgets-wrapper">
    <div class="inner-wrap">
      <div class="footer-widgets-area clearfix">
        <div class="tg-one-fourth tg-column-1">
          <aside id="text-4" class="widget"><h3 class="widget-title"><span>צור קשר</span></h3>
            <div class="textwidget">
              <ul>
                <li><i class="fas fa-phone"></i> טלפון: 09-7441873</li>
                <li><i class="fas fa-fax"></i> פקס: 09-7416763</li>
                <li><i class="fas fa-at"></i> מייל: <a href="mailto:name@email.com">office@ocean-ins.co.il</a></li>
                <li><i class="fab fa-facebook-square"></i><a href="https://www.facebook.com/oceaninsu/" target="_blank"> בקרו אותנו בפייסבוק</a></li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-socket-wrapper clearfix">
    <div class="inner-wrap">
      <div class="footer-socket-area">
        <div class="copyright">Copyright © 2017 <a href="https://demo.themegrill.com/spacious/" title="Spacious"><span>Spacious</span></a>.
          Theme: Spacious by <a href="https://themegrill.com/themes/spacious" target="_blank" title="ThemeGrill"
                                rel="designer"><span>ThemeGrill</span></a>.
        </div>
        <!--<nav class="small-menu clearfix">-->
          <!--<div class="menu-footer-menu-container">-->
            <!--<ul id="menu-footer-menu" class="menu">-->
              <!--<li id="menu-item-308" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-308"><a-->
                <!--href="https://demo.themegrill.com/spacious/contact-us/">Contact Us</a></li>-->
              <!--<li id="menu-item-275" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-275"><a-->
                <!--href="https://demo.themegrill.com/spacious/my-account/">My Account</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</nav>-->
      </div>
    </div>
  </div>
</footer>
